<%= simple_form_for(@user_available) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   
  </div>
  <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= f.label "Best Day" %><br />
                    <%= f.collection_select :available_id, Available.all, :id, :weekday  %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                   <div class="form-group">
                      <%= f.label :from, "From" %><br />
                      <%= f.select :from, collection: ["12:00 PM", "1:00 PM", "2:00 PM", "3:00 PM", "4:00 PM", "5:00 PM" ,"6:00 PM", "7:00 PM", "8:00 PM", "9:00 PM", "10:00 PM", "11:00 PM", "12:00 AM", "1:00 AM", "2:00 AM", "3:00 AM", "4:00 AM", "5:00 AM" ,"6:00 AM", "7:00 AM", "8:00 AM", "9:00 AM", "10:00 AM", "11:00 AM" ]%>
                    </div>
                  </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <%= f.label :until, "Until" %><br />
                        <%= f.select :until, collection: ["12:00 PM", "1:00 PM", "2:00 PM", "3:00 PM", "4:00 PM", "5:00 PM" ,"6:00 PM", "7:00 PM", "8:00 PM", "9:00 PM", "10:00 PM", "11:00 PM", "12:00 AM", "1:00 AM", "2:00 AM", "3:00 AM", "4:00 AM", "5:00 AM" ,"6:00 AM", "7:00 AM", "8:00 AM", "9:00 AM", "10:00 AM", "11:00 AM" ]%>
                      </div>
                    </div>
                  </div><br/>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
