<h1>Listing user_availables</h1>

<table>
  <tr>
    <th>User</th>
    <th>Available</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_availables.each do |user_available| %>
  <tr>
    <td><%= user_available.user %></td>
    <td><%= user_available.available %></td>
    <td><%= link_to 'Show', user_available %></td>
    <td><%= link_to 'Edit', edit_user_available_path(user_available) %></td>
    <td><%= link_to 'Destroy', user_available, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User available', new_user_available_path %>
