<table class="table table-bordered"> 
            <thead>
            <tr>
               <th>Invite</th>
              <th>User</th>
              <th>Sport</th>
              <th>Year(s)</th>
              <th>Skill</th>
              <th>Day</th>
              
              <th>Time</th>
              
             
            </tr>
            </thead>
            <tbody>
            <% @mysports.each do |allsport| %>
              <tr>
                
                <td><a href"#">Invite</a></td>
                <td><%= allsport.user.first_name %></td>
                <%unless allsport.sport.nil?%>
                <td><%= allsport.sport.name %></td>
                <%end%>
                <td><%= allsport.experience %></td>
                <td><%= allsport.skill_level %></td>
                <% allsport.availables.each do |available|  %>
                <td><%= available.timeframe %></td>
                <td><%= available.daypart%></td>
                
                <%end%>
              </tr>
            
            <% end %>
            </tbody>
          </table>
      