<fieldset> 
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <%= f.label "Best Day" %><br />
        <%= f.select :timeframe, collection: ["Sunday", "Monday ", "Tuesday ", "Wednesday ", "Thursday", "Friday", "Saturday"]%> 
      </div>
    </div>
    <div class="col-lg-4">
     <div class="form-group">
       <%= f.label "Best Time" %><br />
       
          <%= f.select :daypart, collection: ["Early Morning", "Morning ", "Lunch Time ", "Afternoon ", "Evening", "Late Night"]%> 

      </div>
    </div><br/>
    
  <div class="row">
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div><br/>
</fieldset>