<div class="sportz">
  <div class="col-lg-12">
    <% @user_sports.each do |user_sport| %>
      <ul class="display">
        <li><b><%= user_sport.user.first_name %> <%= user_sport.user.last_name %></b></li>
        <%unless user_sport.sport.nil?%>
        <li class="sportname"><%= user_sport.sport.name %></li>
        <%end%>
        <li class="detes">Years Played: <%= user_sport.experience %></li>
        <li class="detes">Skill Level: <%= user_sport.skill_level %></li>
        <li id="avail">Availability</li>
        <% user_sport.availables.each do |available|  %>
            <%#unless user_sport.availables.nil?%>
            
           <li class="detes"><%= available.timeframe %>
              <%= available.daypart%>
            </li>
               
             <%end%>
            
             
          
          <li><%= link_to 'Change', edit_user_sport_path(user_sport) %>
            | <%= link_to 'Remove', user_sport, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        </ul>
      <% end %>
    </div>
</div>