<%= simple_form_for @user_sport do |f| %>
  <div class="row">
    <div class="col-lg-4">
      <div id="sln" class="field">
       <p>Please Select Sport</p>
       <%= f.collection_select(:sport_id, Sport.all, :id, :name)  %>
      </div><br>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <p>Years Played</p>
        <%= f.select :experience, collection: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10+"]%>
      </div>
    </div>
    <div class="col-lg-4"> 
      <div class="field">
        <p>Your Skill Level</p>
        <%= f.select :skill_level, collection: ["Beginner", "Intermediate", "Advanced", "Expert", "World-Class"]%>

      </div>
    </div>
  </div><br/>
  <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <%= f.label "Best Day" %><br />
                    <%= f.collection_select :available_id, Available.all, :id, :weekday  %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                   <div class="form-group">
                     <%= f.label "Best Time" %><br />
                     
                        <%= f.select :daypart, collection: ["Early Morning", "Morning ", "Lunch Time ", "Afternoon ", "Evening", "Late Night"]%> 

                    </div>
                  </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                       <ul style="float:left; list-style:none; font-size:12px;">
                          <li><b>Early Morning</b> <br/> 5:00 AM to 7:00 AM</li>
                          <li><b>Morning</b> <br/> 7:00 AM to 11:00 AM</li>
                          <li><b>Lunch Time</b> <br/> 11:00 AM to 1:00 PM</li>
                          <li><b>Afternoon</b> <br/> 1:00 PM to 5:00 PM</li>
                          <li><b>Evening</b> <br/> 5:00 PM to 8:00 PM</li>
                          <li><b>Late Night</b> <br/> 9:00 PM to 12:00 AM</li>
                        </ul>

                      </div>
                    </div>
                  </div><br/>
                
      <div class="actions">
        <%= f.submit "Add Sport" %>
      </div>
<% end %>




