<div class="sportz">
        <div class="col-lg-12">
          <% @zuser_sports.each do |zuser_sport| %>
            <%unless zuser_sport.user != current_user %>
            <ul class="display">
              <li><b><%= zuser_sport.user.first_name %> <%= zuser_sport.user.last_name %></b></li>
              <%unless zuser_sport.sport.nil?%>
              <li class="sportname"><%= zuser_sport.sport.name %></li>
              <%end%>
              <li class="detes">Years Played: <%= zuser_sport.experience %></li>
              <li class="detes">Skill Level: <%= zuser_sport.skill_level %></li>
              <li id="avail">Availability</li>
              <% zuser_sport.availables.each do |available|  %>
                  <%#unless user_sport.availables.nil?%>
                  
                  <li class="detes"><%= available.timeframe %>
                    <%= available.daypart%>
                  </li>
                     
                   <%end%>
                  
                   
                <li>
                    <%#= form_for user_root_path,   :html => { :id => "mymatch" }  do  |f| %>
                      <%#= f.hidden_field :id, :value => zuser_sport.id %>
                        <!-- <button id="matchit" type="submit" return="false">Match</button> -->
                    <%#end%>
                </li>
               
              </ul>
            <% end %>
            <% end %>
          </div>
        
    </div>