
<div class="contents"> 
  <div class="container">
    <div style="margin-top:40px;" id="dg">      
      <table class="table table-bordered"> 
        <thead>
        <tr>
          <th>User</th>
          <th>Sport</th>
          <th>Year(s)</th>
          <th>Skill</th>
          <th>Day</th>
          
          <th>Time</th>
          <th>Match</th>
          <th>Change</th>
          <th>Remove</th>

        </tr>
        </thead>
        <tbody>
          <% @user_sports.each do |user_sport| %>
            <tr>
              <td><%= user_sport.user.first_name %></td>
              <td><%= user_sport.sport.name %></td>
               <td><%= user_sport.experience %></td>
               <td><%= user_sport.skill_level %></td>
              <% user_sport.availables.each do |available|  %>
              <%#unless user_sport.availables.nil?%>
              
              <td>
                <ul>
                  <li><%= available.timeframe %></li>
                </ul>
              </td>
               <td>
                  <ul>
                    <li><%= available.daypart%></li>
                  </ul>
                    </td>
               <%end%>
              
               
               <td>
                <%= form_for user_root_path,   :html => { :id => "mymatch" }  do  |f| %>
                        <%= f.hidden_field :id, :value => user_sport.id %>
                        <button id="matchit" type="submit" return="false">Matches</button>
                    
                        <%end%>
                      </td>
              <td><%= link_to 'Change', edit_user_sport_path(user_sport) %></td>
              <td><%= link_to 'Remove', user_sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to 'ADD NEW', new_user_sport_path %>

    </div>
  </div>
  