<h1>Listing user_sports</h1>

<table>
  <tr>
    <th>User</th>
    <th>Sport</th>
    <th>Experience</th>
    <th>Skill level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_sports.each do |user_sport| %>
  <tr>
    <td><%= user_sport.user %></td>
    <td><%= user_sport.sport %></td>
    <td><%= user_sport.experience %></td>
    <td><%= user_sport.skill_level %></td>
    <td><%= link_to 'Show', user_sport %></td>
    <td><%= link_to 'Edit', edit_user_sport_path(user_sport) %></td>
    <td><%= link_to 'Destroy', user_sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User sport', new_user_sport_path %>
