<p id="notice"><%= notice %></p>

<p>
  <b>Daypart:</b>
  <%= @available.daypart %>
</p>

<p>
  <b>Timeframe:</b>
  <%= @available.timeframe %>
</p>

<p>
  <b>Weekday:</b>
  <%= @available.weekday %>
</p>


<%= link_to 'Edit', edit_available_path(@available) %> |
<%= link_to 'Back', availables_path %>
