<div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           
          <a id='logo' class="navbar-brand" href="#">SP<i class="fa fa-cog fa-spin"></i>RTSTR<span class="beta">Beta</span></a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",    root_path %></li>
            
          <% if user_signed_in? %>
            <li><%= link_to "Dashboard", user_root_path %></li>
              <li><%= link_to 'My Profile', edit_user_registration_path %></li>
            
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
            
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
             
              
          <% end %>
            <!-- <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>